<div class="right-col-custom-block">
    {% if content.field_image is not empty %}
    <div class="right-col-image">
        {# image clickable#}
        {% if content.field_link is defined %}
        <a
            href="{{ content.field_link.uri | relative_to_absolute }}"
            title="{{ content.field_link.title }}">
            <img height="165px" width= "165px"   src="{{ file_url(content.field_image.image_path) | relative_to_absolute }}" />
        </a>
        {% else %}
            <img height="165px" width= "165px" src="{{ file_url(content.field_image.image_path) | relative_to_absolute }}" />
        {% endif %}
    </div>
    {% endif %}
    {% if content.title %}
    <div class="right-col-title">
        {{ content.title }}
    </div>
    {% endif %}

    {% if content.body is not empty %}
    <div class="right-col-body">
        {{ content.body | raw }}
    </div>
    {% endif %}
    {% if content.field_link is not empty %}
    <div class="right-col-link">
       <a title="{{ content.field_link.title }}" href="{{ content.field_link.uri | relative_to_absolute }}"
        class="btn">{{ content.field_link.title }}</a>
      </div>
    {% endif %}

</div>