<div id="profil" class="anchor"></div>
<section id="frontpage-block-4" class="hp-profile hp-nav">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</section>
 <a class="anchor-arrow" id="temoignages" href="#temoignages"><span class="glyphicon glyphicon-arrow-down"></span></a>
