<div id="comment-ça-marche" class="anchor"></div>
{# block hp comment ça march #}
<section id="frontpage-block-3" class="col-md-12 hp-work hp-nav">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</section>
 <a class="anchor-arrow" href="#profil"><span class="glyphicon glyphicon-arrow-down"></span></a>
