<section id="media" class="hp-media hp-nav">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
  <span class="btn-media"><a role="button" target="_blank" class="btn-default btn" href="/maigrir/methode/maigrir-sans-regime-revue-presse" title="Revue de presse">Revue de presse</a></span>
</section>
