<div id="la-methode" class="anchor"></div>
<section id="frontpage-block-2" class="hp-method widget-group hp-nav">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</section>
 <a class="anchor-arrow" href="#comment-ça-marche"><span class="glyphicon glyphicon-arrow-down"></span></a>
