<div id="les-benefices" class="anchor"></div>
<section id="frontpage-block-1" class="hp-nav hp-advantage">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</section>
 <a class="anchor-arrow" href="#la-methode"><span class="glyphicon glyphicon-arrow-down"></span></a>
