{#
/**
 * @file
 * Theme override to display a node dossier.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
   'interview-article'
  ]
%}
{% import "themes/custom/linecoaching_theme/templates/macro/node-taxonomy-macro.html.twig" as display %}
<article{{ attributes.addClass(classes) }}>
   {{ title_prefix }}
   <h1>{{ node.getTitle() }}</h1>
   {{ title_suffix }}
   {{ display.display_header_tags(tagContent) }}
   {{ display.widgets(content.field_rating, node.id()) }}
  <div{{ content_attributes.addClass('node__content') }}>
     <div class="image">{{ node.field_image.entity.fileuri|responsive_image('wide') }}</div>
     <div class="chapeau">
        {{ node.field_chapeau.value|raw}}
     </div>
     <div class="body">
        {{ node.body.value|raw}}
      </div>
      {% set interviewList = content.field_question_reponse['#items']|field_collection_items %}
      {{ display.display_interview(interviewList) }}

      {% if node.footer.value is defined %}
       <div class="footer">
        {{ node.footer.value|raw}}
       </div>
      {% endif %}
  </div>
</article>

{{ display.widgets(content.field_rating, node.id()) }}
{{ display.display_diaporama_articles(diaporamaThemeArticles) }}
{{ display.show_linked_articles(relatedThemeArticles) }}
{{ display.show_same_theme(sameThemeArticles, currentTerm) }}
<section class="comments">
    {{ content.comment }}
</section>
