<section class="newsletter">
    {{ title_prefix }}
     <div class="title">{{ label}}</div>
    {{ title_suffix }}
    {{ content.item.introduction_text.value|raw}}
    {{ content.item.newsletter }}
</section>
